{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Nuevo Caso</div>
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <img class="media-object"  style="width: 18rem;" src="../static/assets/images/users/avatar-7.jpg" alt="...">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>Mi caso es blablablablablabbbbbbbblablablablablalablablablablalablablablablalablablablablalablablablablalablablablablalablablablablalablablablabla</p>
      </div>
    </div>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th><strong> Listado de ofertas  actuales</strong></th>
      </tr>
    <thead>
    <tr>
    <tr>
      <td>$2.000<td>
    </tr>
    <tr>
      <td>$3.000<td>
    </tr>
    <tr>
      <td>$4.000<td>
    </tr>
  </table>
</div>
<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">¿Cuanto estás dispuesto a cobrar por hora?</label>
        <input class="form-control" id="exampleFormControlTextarea1"/>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Ofertar!</button>
</form>
{% endblock %}
