{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}

<!-- Start content -->
<div class="">

    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Asesorapp</h4>
        </div>
    </div>

    <div class="page-content-wrapper ">
        <div class="container">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endif %}

                {% endfor %}
            </ul>
            {% endif %}

            <!-- CONTENIDO -->
            <h1>Lista de casos disponibles</h1>
              {% for caso in object_list %}
            <div class="list-group">
                <a href="caso/{{caso.id}}/" class="list-group-item active">
                  <img class="media-object"  style="width: 10rem;" src="../static/assets/images/users/avatar-7.jpg" alt="...">
                  <h4 class="list-group-item-heading">{{ caso.titulo }}</h4>
                  <p class="list-group-item-text">{{ caso.descripcion }}</p>
                  <button type="button" class="btn btn-default btn-lg" >
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Ofertar
                  </button>
                </a>
            </div>
              {% endfor %}
            <br>

        </div><!-- container -->
    </div> <!-- Page content Wrapper -->
</div> <!-- content -->

{% endblock %}
